.imageLinkForm {
    width: 700px;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.textParagraph{
    font-size: 1.5rem;
}

.formInput{
    font-size: 1.25rem;
    padding: .5rem;
    width: 70%;
}

.detectBtn{
    font-size: 1.25rem;
    color: #fff;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #357edd;
    transition: transform 0.7s;
}

.detectBtn:hover{
    transform: scale(1.1);
}